*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    width: 100vw;
} */
    
@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-VariableFont_wght.ttf");
}

html{
    font-family: "Raleway", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    border-bottom: 2px solid lightgrey;
    padding: 76px;
    opacity: 0.9;
    background-color: white;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    /* display: none;  */
    /* von mobil bis 768 wird burger gezeigt */
}


a, ul li{
    text-decoration: none;
    list-style: none;
}
ul{
    display: flex;
    justify-content: space-between;
    width: 52%;
}

.logo{
   color: #666;
   font-size: 2rem;
   font-weight: 200;
}
.logo:hover{
    color: 333;
}

ul li a{
   font-size: 16px;
   color: #333;
}
 ul li a:hover{
    color: #337ab7;
 }

 .burger{
    font-size: 2rem;
    display: none;
 }

            /*  <!-- ********SECTION 1 ******* --> */

 .section1{              /* Hintergrundbild für div-container mit 100vh  */
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url(./../img/img_section_1header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    background-attachment: fixed;
    padding: 1em;
 }

 h1{
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 20px;
 }

p{
    font-weight: 200;
    line-height: 1.8em;
    color: #8C979E;
    margin-bottom: 2em;
}

.p-section1{
    margin-bottom: 30px;
    font-size: 12px;
    color: #FFFFFF;
}

.download-btn{
    border: 2px solid white;
    color: white;
    background: none;
    /* padding: 15px 45px; */
    padding: 15px 33px;
    font-size: 12px;
}
.download-btn:hover{
    background-color: white;
    color: black;
}

.purple-btn{     /* universaler button lila, für diverse sections - Text variiert durch btns in html */
    background-color: #745CF9;
    border-color: #745CF9;
    color: white;
    padding: 15px 30px;
    font-size: 12px;
    opacity: 0.9;
    width: 180px;
    max-height: 50px;
}
.purple-btn:hover{
    background-color: #4f3db6;
}

        /*  <!-- ******** SECTION 2 ******* --> */

.section2, .section3{   /* Anweisung für beide classes */
    display: flex;
    align-items: center;
    padding: 1em;
}

.section2 div{
     margin: 4em;
    padding: 0 10em; }
  

.h3black{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1em;
}

                /*  <!-- ******** SECTION 3 ******* --> */

.section3{
    background-color: #f5f5f5;
}
.section3 div{
    margin: 4em;
    padding: 0 10em;
}

.section2 img, 
.section3 img{  /* img skaliert sich durch 100% automatisch, height auto proportioniert sich automatisch, Seitenverhältnis bleibt gleich */
    width: 100%;
    height: auto;
    max-width: 45vw;
}

                /*  <!-- ******** SECTION 4 ******* --> */

.section4{             /* Hintergrundbild für div-container mit 30em Höhe */
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url(./../img/img_section4_wave.jpg);
    background-position: center;
    background-size: cover;
    height: 30em;
    justify-content: center;
    background-attachment: fixed;
    }

    h2{
        font-size: 3rem;
        font-weight: 200;
    }

    .p-white{
        color: #ffffff;
        padding: 2em 20em;
    }

            /*  <!-- ******** SECTION 5 ******* --> */
.section5{
    background-color: #f5f5f5;
    text-align: center;
    padding: 5em 5em 0 5em;
}
.section5 button{
    margin-bottom: 2rem;
}

.section5 p{
    margin: 20px 8em;
}
.forestpic{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 40px;
}

            /*  <!-- ******** SECTION 6 ******* --> */
.section6{
    background-color: black;
    text-align: center;
    padding: 5em;
}
.section6 h3{
    font-size: 2rem;
    font-weight: 300;
    margin: 1em 0;
    color: #FFFFFF ;
}

.section6 p{
  
    color: #FFFFFF;
}

.galleryrow{  /* setzt alle divs mit dieser class in jeweils 1 Reihe */
    display: flex;
}

.galleryrow div{
    width: 300px;  /* limitiert die Größe des div-containers auf die angegebenen Werte*/
    height: 200px;
}

.galleryrow div img{  /* imgs decken die Fläche des obigen div zu 100% */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: block; */
}

            /*  <!-- ******** SECTION 7 ******* --> */

.section7{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url(./../img/img_section_7_sky.jpg);
    background-position: center;
    background-size: cover;
    height: 28em;
    justify-content: center;
    padding-top: 5rem;
}
.section7 h3{
    font-size: 2rem;
    font-weight: 300;
    color: #FFFFFF ;
}

.section7 div{
     width: 100vw;  
}

            /*  <!-- ******** SECTION 8 ******* --> */

.section8 h3{
    height: 13rem;
      text-align: center;
      padding-top: 7rem ;
}

.clientlogos{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
}

            /*  <!-- ******** SECTION 9 ******* --> */
.section9{
    height: 12rem;
    background-color: #f5f5f5;
    
   
}
.section9 div{
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    padding-top: 5rem;

}

            /*  <!-- ******** FOOTER ******* --> */
footer section{
    background-color: black;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 5rem;
    
}     
footer section div{
    display: flex;
}    

span{
    font-weight: 500;
}
span:hover{
    color: #4f3db6;
}